body {
  font-family: Helvetica;
}

header {
  color: #ffffff;
  background-color: #8f3939;
  height: 50px;
}

h1 {
  position: relative;
  margin: 5px;
  padding: 5px;
}

img {
  float: left;
  margin: 5px;
  padding: 5px;
}

div {
  margin: 5px;
  padding: 5px;
}

footer {
  position: fixed;
  padding: 20px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: rgba(20, 20, 20, 0.5);
  text-align: center;
  color: rgba(20, 20, 20, 0.5);
}

.fila {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fila::after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  width:auto;
  height: inherit;
  margin: 10px;
  border: 5px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #008CBA;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn:hover {
  background-color: #047094;
  cursor: pointer;
}
