p {
  justify-content: center;
  align-items: center;
  text-align: center;
}

input {
  border: none;
  border-bottom: 1px solid #767676;
  color: #767676;
  margin: 5px;
}

input:focus {
  outline: none;
  border-bottom: 1px solid #2196f3;
  color: black;
}

select {
  border: none;
  border-bottom: 1px solid #767676;
  background-color: white;
  color: #767676;
  margin: 5px;
}

select:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #2196f3;
  color: black;
}

.text {
  width: 700px;
  height: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
