#partes {
  width: fit-content;
  height: inherit;
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
}

#partes li {
  display: list-item;
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #e7e7e7;
}

#partes li.last {
  border-bottom: none;
}

#grafico {
  margin: 10px;
  border: 0;
  padding: 5px;
  width: 500px;
  height: 300px;
}

.options-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 670px;
  margin: 0px;
  border: 5px;
  padding: 5px;
}

.hidden {
  display: none;
}

.card {
  width: 100%;
  height: 100px;
  margin: 0px;
  text-align: center;
  overflow: hidden;
  border-right: 1px solid #e7e7e7;
}

.last {
  border-right: none;
}

.card > * {
  top: -15px;
  position: relative;
  padding : 0px;
  height: inherit;
  transition: transform 700ms ease;
  transform: translateY(0%);
}

.card:hover > * {
  transform: translateY(-115%);
}

.more {
  font-style: italic;
  color: #2196f3;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 70px;
}
